@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

header {
    background-color: #333333;
    color: white;
    padding-top: 10px;
    text-align: center;
}

/* Navigation Bar Content */
nav {
    background-color: #2f4f4f;
    overflow: hidden;
    padding: 14px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #04AA6D;
  }

nav a:active {
    background-color: #ddd;
    color: black;
  }

nav .icon {
    display: none;
  }

/* Protfolio Content */
.portfolioWrapper{
    display: block;
    background: #537373;
    color: #f2f2f2;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    max-width: max-content;
    margin: auto;
    text-align: center;
    padding: 1em;
}

.portfolioWrapper a{
    color: #f2f2f2;
    background-color: #2f4f4f;
    text-decoration: none;
}

.portfolioWrapper a:hover{
    background-color: #04AA6D;
}

/*Introduction Div*/

.profilePic{
    width: 20%;
    height: 25%;
    border-radius: 50%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.education h4, p{
    margin: 8px 0;
}

h3{
    margin: 16px 0;
}

/* Projects */
.project1, .project2{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin: 40px 0;
}
.projectImage1 img, .project2 img{
    width: 50%;
}

/* Footer Content */
.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
  }
  

